@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

//## Colors
$VeryDarkGrayishBlue: hsl(217, 19%, 35%);
$DesaturatedDarkBlue: hsl(214, 17%, 51%);
$GrayishBlue: hsl(212, 23%, 69%);
$LightGrayishBlue: hsl(210, 46%, 95%);

// ## GENERALITEES
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
}

body {
  font-size: 13px;
  font-weight: 500;
  font-family: "Manrope", sans-serif;
  background: $LightGrayishBlue;
  color: $VeryDarkGrayishBlue;
  display: flex;
  flex-direction: column;
}

// ## MOBILE
.card {
  width: 86.66%;
  max-width: 45.75rem;
  margin: auto;
  position: relative;
}

.card__illustration {
  width: 100%;
  height: 13.5rem;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
#illustration {
  width: 100%;
}

.card__content {
  background: white;
  border-radius: 0 0 15px 15px;
}
.card__body {
  padding: 2.5rem 2.1rem 1.75rem 2.1rem;
  P {
    color: $DesaturatedDarkBlue;
  }
}
h1,
.name {
  font-weight: 700;
}
h1 {
  font-size: 1rem;
  margin-bottom: 1.25rem;
}

.card__bottom {
  position: relative;
  display: flex;
  height: 4rem;
  .photoid {
    margin-left: 2.1rem;
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
  }
}

.card__bottom--identity {
  margin-left: 1rem;
}
.date {
  color: $DesaturatedDarkBlue;
}
button {
  position: absolute;
  width: 1.9rem;
  height: 1.9rem;
  border-radius: 50%;
  outline: none;
  border: none;
  right: 2rem;
  bottom: 1.5rem;
  .arrow {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    height: 0.8rem;
    width: 0.8rem;
  }
}

// .photoid,
// .card__bottom--identity {
//   display: none;
// }
.invisible {
  display: none;
}
.dark {
  bottom: 1rem;
  background: $DesaturatedDarkBlue;
  path {
    fill: $LightGrayishBlue;
  }
}

.share {
  height: 4rem;
  position: absolute;
  display: flex;
  align-items: center;
  background: $VeryDarkGrayishBlue;
  border-radius: 0 0 15px 15px;
  width: 100%;
  bottom: 0rem;
  left: 0;
  p {
    color: $GrayishBlue;
    text-transform: uppercase;
    letter-spacing: 0.3em;
    margin-left: 2.1rem;
  }
  .reseaux img {
    margin-left: 1rem;
    height: 20px;
    width: 20px;
  }
}

@media screen and(min-width: 1200px) {
  .card {
    display: flex;
  }
  .card__content {
    border-radius: 0 15px 15px 0;
    width: 27.5rem;
  }
  .card__illustration {
    width: 290px;
    height: 100%;
    border-radius: 15px 0 0 15px;
  }
  #illustration {
    width: 21.875rem;
    height: 100%;
  }
  .card__body {
    padding: 2.25rem 3.65rem 2rem 2.5rem;
  }
  button {
    right: 2.5rem;
  }
  .share {
    border-radius: 15px;
    width: 15.62rem;
    bottom: 6rem;
    left: 16.5rem;
    &::after {
      content: "";
      position: absolute;
      height: 0;
      width: 0;
      border-top: 1.25rem solid $VeryDarkGrayishBlue;
      border-right: 1rem solid transparent;
      border-left: 1rem solid transparent;
      bottom: -1rem;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

//Feel free to remove these styles or customise in your own stylesheet 👍
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
